body {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #f6f6f6;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #66b3ba;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app #main-navigation {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  z-index: 101;
  transition: color 0.5s linear;

  &.inverted {
    color: #474747;
    transition: color 0.5s linear;
  }
}

#app #main-navigation #nav-brand {
  display: flex;
  align-items: center;
  width: 30%;
  font-family: 'Exo 2', 'sans-serif';
}

#app #main-navigation #nav-brand img {
  width: 50px;
  margin-right: 10px;
}

#app #main-navigation #nav-links {
  width: 15%;
  display: flex;
  justify-content: space-between;
  font-family: 'Exo 2', 'sans-serif';
  font-weight: bolder;
}

#top-hero {
  h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    line-height: 1.3;
    font-weight: bold;
    span.funky {
      font-weight: lighter;
      -webkit-animation: colorchange 10s ease infinite;
      -moz-animation: colorchange 10s ease infinite;
      -o-animation: colorchange 10s ease infinite;
      animation: colorchange 10s ease infinite;
      animation-direction: alternate-reverse;
    }
  }
  font-size: 22px;
  line-height: 1.5;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 69;
  transform: scale(1);
}

#main-content {
  width: 100%;
  position: absolute;
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;

  section {
    @media (min-width: 1400px) {
      width: 50%;
      margin-top: 40px;
    }

    &.wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #32213a;
      p {
        color: #695d6f;
      }
    }

    & .content {
      width: 50%;
    }
  }

  h2 {
    font-family: 'Exo 2', 'sans-serif';
    font-size: 40px;
    line-height: 1.2;
    color: #474747;
    font-weight: bolder;
  }

  p {
    font-size: 22px;
    line-height: 1.5;
    color: #474747;
  }

  h3 {
    font-family: 'Exo 2', 'sans-serif';
    font-size: 30px;
    color: #474747;
    line-height: 1;
    margin: 0;
    font-weight: bolder;
  }
}


#lvg-img {
  width: 300px;
  border-radius: 100%;
  -moz-box-shadow: -6px 20px 15px #ccc;
  -webkit-box-shadow: -6px 20px 15px #ccc;
  box-shadow: -6px 20px 15px #ccc;
  // margin-bottom: 40px;
}

@-webkit-keyframes colorchange {
  0%{text-shadow: 0px 0px 30px #47FF0A}
  25%{text-shadow: 0px 0px 30px #0AC2FF}
  50%{text-shadow: 0px 0px 30px #FF0AC2}
  75%{text-shadow: 0px 0px 30px #C2FF0A}
  100%{text-shadow: 0px 0px 30px #FF0A47}
}
@-moz-keyframes colorchange {
  0%{text-shadow: 0px 0px 30px #47FF0A}
  25%{text-shadow: 0px 0px 30px #0AC2FF}
  50%{text-shadow: 0px 0px 30px #FF0AC2}
  75%{text-shadow: 0px 0px 30px #C2FF0A}
  100%{text-shadow: 0px 0px 30px #FF0A47}
}
@-o-keyframes colorchange {
  0%{text-shadow: 0px 0px 30px #47FF0A}
  25%{text-shadow: 0px 0px 30px #0AC2FF}
  50%{text-shadow: 0px 0px 30px #FF0AC2}
  75%{text-shadow: 0px 0px 30px #C2FF0A}
  100%{text-shadow: 0px 0px 30px #FF0A47}
}
@keyframes colorchange {
  0%{text-shadow: 0px 0px 30px #47FF0A}
  25%{text-shadow: 0px 0px 30px #0AC2FF}
  50%{text-shadow: 0px 0px 30px #FF0AC2}
  75%{text-shadow: 0px 0px 30px #C2FF0A}
  100%{text-shadow: 0px 0px 30px #FF0A47}
}
